
h1 {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
}

h2 {
	text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
}
p  {
	text-align: center;
}
i  {
	text-align: right
	
}
.header {
  background-color: rgb(96, 109, 153);
  padding: 20px;
  text-align: center;
  border-radius: 20px;
  font: 90px
}
body {
  background: #555;
}

.content {
  margin: auto;
  background: white;
  padding: 10px;
  border-radius: 20px
}
#navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background: #ddd;
  color: black;
}
#about {
  
}

#blog {

}

#projects {
  
}

#contact {
  
}




