
h1 {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
}

h2 {
	text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
}
p  {
	text-align: center;
}
.header {
  background-color: #008000;
  padding: 20px;
  text-align: center;
  border-radius: 20px
}
#mySidenav a {
  position: absolute;
  left: -80px;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
  left: 0;
}

#about {
  top: 150px;
  background-color: #04AA6D;
}

#blog {
  top: 210px;
  background-color: #2196F3;
}

#projects {
  top: 270px;
  background-color: #f44336;
}

#contact {
  top: 330px;
  background-color: #555
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}